.text-center {
    text-align: center; /* Memastikan teks berada di tengah */
}

.text-justify {
    text-align: justify; /* Mengatur teks agar terbelah rata kiri-kanan */
    text-indent: 1em; /* Memberikan jarak indentasi pada paragraf */
    margin-bottom: 15px;
}

.card {
    border: 1px solid #d1d3e2; /* Border warna abu-abu */
    border-radius: 8px; /* Menambahkan sudut melengkung */
    padding: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Efek shadow 3D */
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out; /* Untuk transisi halus */
    background-color: #f6f7fb;
}

.card:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Efek shadow lebih besar saat hover */
    transform: translateY(-5px); /* Sedikit mengangkat elemen saat hover */
}

ul {
    list-style-position: inside;
    padding-left: 0;
}

ul li {
    margin-bottom: 15px;
    font-size: 1.1rem;
}